#wrapper {
	width: 1250px;
	margin-right: auto;
	margin-left: auto;
	font-size: 16px;
	font-family: Comic Sans MS, arial;	
}

body {

}

leader {
	padding-top: 10px;
	padding-bottom: 10px;
	height: 50px;
	text-align: center;
}

nav {
	text-align: center;
}

nav ul {
	list-style-type: none;
}

nav li {
	display: inline;
	margin-right: 40px;
}

a {
	color: #2bd7dd;
	text-decoration: none;
	font-family: sans-serif;
	text-shadow:  1px  1px 1px black,
                  1px -1px 1px black,
                 -1px  1px 1px black,
                 -1px -1px 1px black;
}

p {
	color: white;
	font-size: 20px;
	text-decoration: none;
	font-family: sans-serif;
	text-shadow:  1px  1px 1px black,
                  1px -1px 1px black,
                 -1px  1px 1px black,
                 -1px -1px 1px black;
}

b {
	color: #850808;
	font-size: 25px;
	text-decoration: none;
	font-family: sans-serif;
	text-shadow:  1px  1px 1px black,
                  1px -1px 1px black,
                 -1px  1px 1px black,
                 -1px -1px 1px black;
}

s {
	color: #ff84a7;
	text-decoration: none;
	font-family: sans-serif;
	position: absolute;
 	bottom: 15px;
  	right: 8px;
  	font-size: 30px;
	text-shadow:  1px  1px 1px black,
                  1px -1px 1px black,
                 -1px  1px 1px black,
                 -1px -1px 1px black;
}

y {
	font-size: 25px;
}

h1 {
	color: lightgray;
	font-size: 30px;
	text-shadow:  1px  1px 1px black,
                  1px -1px 1px black,
                 -1px  1px 1px black,
                 -1px -1px 1px black;
}

.article {
	height: 120px;
	margin-top: 15px;
	margin-bottom: 50px;
}

.article a {
	font-size: 18px;
}

.article img {
    float: left;
    padding: 2px;
    margin-right: 3px;
	text-align: center;
}

footer {
	position: relative;
    bottom: 0;
    width: 100%;
	margin-top: auto;
}

.fishes
{
  position: absolute;
  top: 10px;
  left: 0px;
}
.fish
{
  position: absolute;
  top: 5px;
  left: 800px;
}

.container {
	position: relative;
	text-align: center;
	color: white;
}

.imageContainer { 
	height: 180px; 
	background: url(bilder/test5.png) no-repeat;
}

.bottom-left {
	position: absolute;
	bottom: 8px;
	left: 0px;
	display: inline;
	margin-left: 40px;
	float: left;
	margin-right: 40px;
}

.logo {
	float: right;
  	padding: 5px;
  	width: 100px;	
}

.rechts {
	float: left;
	margin-right: 15px;
	margin-top: 25px;
}

.form-elements {
	padding: 0.3em 1em;
    border-radius: 3px;
    color: #fff;
    margin-bottom: 2em;	
	margin-left: 930px;	
}

.box {
	font-size: 25px;
	float: left;
	color: #f30991;
	padding-left: 125px;
	font-family: sans-serif;
	text-shadow:  1px  1px 1px black,
                  1px -1px 1px black,
                 -1px  1px 1px black,
                 -1px -1px 1px black;
}

.text {	
	float: left;
	padding-left: 125px;
	color: rgb(190, 33, 138);
	font-family: sans-serif;
	text-shadow:  1px  1px 1px black,
                  1px -1px 1px black,
                 -1px  1px 1px black,
                 -1px -1px 1px black;
}

html {
background: url(bilder/test5.jpg)no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-attachment: fixed;
}